---
import { getCollection } from 'astro:content';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>bobbycai-new's personal blog</title>
	</head>
	<body>
		<h1>Welcome to bobbycai-new's personal blog!</h1>
		<p>This is where I share cool stuff about my life</p>
		<hr />
		<p>Hello World, yeah classic 101 message</p>
	</body>
</html>
